.special {
  color: #a6ff4d;
  font-size: 20px;
  font-family: cursive;
}

.rachel {
  color: #990099;
  font-family: fantasy;
  font-weight: bold;
}

.omid {
  color: #ff6600;
  background-color: #996633;
  font-weight: lighter;
}
