.flashy {
  color: #DC143C;
  font-size: 45px;
  font-weight: bold;
}

.best {
  color: #4B0082;
  font-family: fantasy;
  font-style: oblique;
}

h2.intro {
  color: #ffad33;
  font-weight: 500;
}
p.intro {
  color: #ff4dd2;
  font-family: sans-serif;
}

img.intro {
  width: 450px;
  height: 250px;
}
